.loginButton {
	font-size: 35px;
}

.headerBlank {
	height: 150px;
}

.title {
	font-size: 50px;
	text-align: center;
	width: 100%;
}

.subtitle {
	font-size: 20px;
	text-align: center;
	width: 100%;
}