div.panel {
 	border: 1px black solid;
 	background-color: lightgray;
 }
div.base * {
	font-size:13px;
	padding:1;
}
 
div.selected {
 	border: 1px black solid;
 	background-color: gray;
 }
  
.handsontable td {
  font-size: 11px;
}
.handsontable th {
  font-size: 11px;
}
