div.panel {
 	border: 1px green solid;
 	background-color: #ccffcc;
 }
div.base {

 }
 
div.selected {
 	border: 1px green solid;
 	background-color: green;
 }
  
 button.from {
 	background-color: green;
 }
 
 button.to {
 	background-color: yellow;
 }
 
 button.normal {
 	background-color: gray;
 }
 #container {
  position: relative;
}
#container canvas, #panel {
  position: absolute;
}
canvas {
  border: 1px solid black;
}