.mybutton {
    border: 0;
    line-height: 2.0;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 1px #000;
    border-radius: 5px;
    vertical-align: top;
    background-color: rgba(200, 200, 200, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.mybutton:hoverpp {
    background-color: rgba(255, 0, 0, 1);
}

.mybutton.canpush:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.mybutton.disabled {
    color: lightgray;
    background-color: rgba(200, 200, 200, 1);
}

.mybutton.checked {
    background-color: rgba(240, 200, 200, 1);
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.buttonValue {
	color: blue;
	font-weight: bold;
	padding: 1px 1px 1px 1px;
	margin:  0px 0px 0px 0px;
	height: 50%;
}

.buttonTitle {
	color: black;
	padding: 1px 1px 1px 1px;
	margin:  0px 0px 0px 0px;
	height:50%;
}

.editable {
	
}
.editableSelected {
	background-color: lightgray;
}

.mouseover {
	background-color: lightgray;
}
.priorityItem {
	display: inline-block;
	border-style: solid;
}
.priorityLabel {
	font-weight:bold;
	color:blue;
}
.priorityNumber {
	width: 30px;
	display: inline-block;
}
.priorityRow:hover {
	background-color: yellow;
}
.priorityEmpty {
	width: 100%;
	height: 20px;
	background-color: lightblue;
}
.priorityArea {
	border-style:solid;
	border-color:lightgray;
	border-width:1px;
	background-color:lightgreen;
}
.priorityEmpty:hover {
	background-color: yellow;
}