.mybutton {
    border: 0;
    line-height: 2.0;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 1px #000;
    border-radius: 5px;
    background-color: rgba(200, 200, 200, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.mybutton:hoverpp {
    background-color: rgba(255, 0, 0, 1);
}

.mybutton:activel {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.mybutton.disabled {
    color: lightgray;
    background-color: rgba(200, 200, 200, 1);
}

.mybutton.checked {
    background-color: rgba(240, 200, 200, 1);
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.buttonvalue {
	color: blue;
	font-weight: bold;
}
}