<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <servlet>
        <servlet-name>Jersey Web Application</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>
            	jp.silverbullet.web,
            	com.fasterxml.jackson.jaxrs.json,
            	com.fasterxml.jackson.jackson.jaxrs
            </param-value>
        </init-param>
	    <init-param>
	        <!-- (3) -->
	        <param-name>jersey.config.server.provider.classnames</param-name>
	        <param-value>
	            org.glassfish.jersey.jackson.JacksonFeature
	        </param-value>
	    </init-param> 
	    <!--  
		<init-param>
			<param-name>javax.ws.rs.container.ContainerRequestFilter</param-name>
			<param-value>jp.silverbullet.auth.AuthenticationFilter</param-value>
		</init-param>
		 -->
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <display-name>WebSocket</display-name>
        <servlet-name>WebSocket</servlet-name>
        <servlet-class>jp.silverbullet.web.WebSocketServletImpl</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebSocket</servlet-name>
        <url-pattern>/websocket/*</url-pattern>
    </servlet-mapping>
</web-app>